trigger:
  - main

pool:
  name: "Default"

steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: "3.11"
    displayName: "Use Python 3.11"

  - script: |
      python -m pip install --upgrade pip
      pip install -r requirements.txt
    displayName: "Install dependencies"

  - script: |
      python -m pytest -q
    displayName: "Run tests"
